header{
    padding: 20px;
    margin: 10px;
    background-color: rgb(25, 85, 153);
    text-align: center;
}
h1 {
  color: rgb(255, 255, 255);
}
h2 {
  color: rgb(0, 0, 0);
  background-color: yellow;
}
h3 {
    background-color: yellow;
    color: black;
}
body {
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0;
  padding: 0;
}
.up{
    color: white;
    font-weight: 300;
}
address a{
    color: yellow;
}
.KAIF{
color: black;
background-color: yellow;
font-size: 400%;
text-align: center;
}

figcaption{
    text-transform: capitalize;
    text-align: center;
}
.socialmedia{
font-style: italic;
}
.region{
    font-style: italic;
}
#more-reasons-to-choose-velo {
    margin: 0;
    padding: 0;
    background: #01567e;
   
}
.tile-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
 .no-smoke-image {
width: 150px;
height: 150px;
object-fit: contain;
 }

 