* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 1280px;
}

:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;

  --color-light-s: #fafafa;
  --color-light-l: #f6f6f6;
  --color-light-xl: #ffffff;

  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;

  --start-screen-gradient-background: #211f20;
  --footer-gradient-background: #211f20;
}

.main-page {
  width: 1280px;
  height: 100%;
}
/*start main-header*/
.main-header {
  height: 90px;
  width: 1280px;
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-xl);
}

.logo {
  display: flex;
  flex-direction: column;
}

.main-page-link {
  text-decoration: none;
}

.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.1;
  letter-spacing: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  margin-left: 4px;
  color: var(--color-dark-3xl);
}

.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
  width: 443px;
}

.menu-list-element,
.menu-list-element-active {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-dark-l);
}

.menu-list-element-active {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-dark-3xl);
}

.menu-list-element a {
  text-decoration: none;
  color: var(--color-dark-3xl);
}

.menu-list-element:hover {
  border-bottom: 2px solid var(--color-primary);
}

/*end main-header
start content section-1*/
/*section2 end
start section3*/
.section-3 {
  display: block;
  width: 100%;
  height: 1342px;
  background-color: var(--color-light-l);
  padding: 80px 40px;
}

.our-friends {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--color-dark-l);
  max-width: 400px;
  text-align: center;
}

.section-3-container {
  height: 1162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-3-slider {
  height: 930px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.katrine,
.jennifer,
.woody,
.sophia,
.timmy,
.charly,
.scarlett,
.freddie {
  text-align: center;
  background-color: var(--color-light-s);
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.pets-figcap {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--color-dark-l);
}

.learn-more-button {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 1px solid var(--color-primary);
  background-color: var(--color-light-s);
  color: var(--color-dark-3xl);
  width: 261px;
  height: 52px;
  border-radius: 100px;
}

.learn-more-button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  cursor: pointer;
  scale: 1.05;
  transition: 0.5s;
}

.arrow-left {
  width: 52px;
  height: 52px;
  padding: 18px;
  color: var(--color-dark-3xl);
  border: 1px solid var(--color-primary);
  border-radius: 26px;
}

.arrow-right {
  width: 52px;
  height: 52px;
  padding: 18px;
  transform: rotate(180deg);
  color: var(--color-dark-3xl);
  border: 1px solid var(--color-primary);
  border-radius: 26px;
}

.button-paginator {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
  padding: 10px;
  width: 52px;
  height: 52px;
  background: none;
  border-radius: 26px;
  margin: 0px 10px;
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-paginator:hover {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
  cursor: pointer;
}
/*section5 end
start footer*/

.main-footer {
  display: block;
  width: 100%;
  background: url(../assets/img/noise_transparent@2x.png),
    radial-gradient(circle, rgba(91, 72, 58, 1) 0%, rgba(38, 36, 37, 1) 100%);
  padding: 40px 40px 0px 40px;
}

.main-footer-container {
  height: 310px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-content-1 {
  width: 278px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.for-questions {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--color-light-xl);
}

.footer-content-2 {
  width: 302px;
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.we-are-waiting {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--color-light-xl);
}

.address a {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--color-primary);
}

.address {
  display: flex;
  flex-direction: row;
}

.address a:hover {
  color: var(--color-primary-light);
  scale: 1.1;
  transition: 0.5s;
}

.footer-icons {
  vertical-align: middle;
  margin-right: 20px;
}
