body{
    background-color: black;
    color: white;
}
div h2 {
    color: rgb(0, 30, 255);
  }

strong{
    color: brown;
  }

blockquote span{
    color: yellow;
    font-weight: 600;
}

ol strong{
    font-style: italic;
}
